<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AxiomIRISRibbon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="AxiomIRISRibbon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
    
 </configSections>
  <appSettings>
    <add key ="LOG_FILE_PATH" value="Logs"/>
  </appSettings>
	<applicationSettings>
		<AxiomIRISRibbon.Properties.Settings>
   <setting name="AxiomIRISRibbon_sfRibbon_Axiom_RibbonControllerService" serializeAs="String">
    <value>https://cs17.salesforce.com/services/Soap/class/Axiom_RibbonController</value>
   </setting>
   <setting name="AxiomIRISRibbon_sfPartner_SforceService" serializeAs="String">
    <value>https://login.salesforce.com/services/Soap/u/31.0</value>
   </setting>
  </AxiomIRISRibbon.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
  <AxiomIRISRibbon.Properties.Settings>
   <setting name="ShowAllLogins" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DevUrl" serializeAs="String">
    <value>https://dev-CS--IRIS----RKSB1-CS17-my-salesforce-com.iris-dev.rowini.net:29443</value>
   </setting>
   <setting name="DevOrgId" serializeAs="String">
    <value>00Dg0000003Nc8C</value>
   </setting>
   <setting name="Debug" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Inst" serializeAs="String">
    <value>Prod</value>
   </setting>
   <setting name="ITUrl" serializeAs="String">
    <value>https://it-CS--IRIS----QA1SB-CS17-my-salesforce-com.iris-it.rowini.net:29443</value>
   </setting>
   <setting name="ITOrgId" serializeAs="String">
    <value>00Dg0000003NdAc</value>
   </setting>
   <setting name="UATUrl" serializeAs="String">
    <value>https://uat-cs--iris----csuat-cs17-my-salesforce-com.iris-uat.csintra.net</value>
   </setting>
   <setting name="UATOrgId" serializeAs="String">
    <value>00Dg0000003Nc8e</value>
   </setting>
   <setting name="ProdUrl" serializeAs="String">
    <value>https://prod-cs--iris-my-salesforce-com.iris.csintra.net</value>
   </setting>
   <setting name="ProdOrgId" serializeAs="String">
    <value>00Dj0000000Hojv</value>
   </setting>
   <setting name="SoapVersion" serializeAs="String">
    <value>29.0</value>
   </setting>
   <setting name="SSOLogin" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Theme" serializeAs="String">
    <value>Windows8</value>
   </setting>
   <setting name="ThemeColor" serializeAs="String">
    <value>#003565</value>
   </setting>
   <setting name="ReportsDevUrl" serializeAs="String">
    <value>https://CHWD2500274.ch.ad.hedani.net:29080/irisreports/SSOLogin.aspx</value>
   </setting>
   <setting name="ReportsITUrl" serializeAs="String">
    <value>https://CHWT2500276.ch.ad.hedani.net:29080/irisreports/SSOLogin.aspx</value>
   </setting>
   <setting name="ReportsUATUrl" serializeAs="String">
    <value>https://iris-an-uat.csintra.net/IRISReports/SSOLogin.aspx</value>
   </setting>
   <setting name="ReportsProdUrl" serializeAs="String">
    <value>https://iris-an.csintra.net/IRISReports/SSOLogin.aspx</value>
   </setting>
  </AxiomIRISRibbon.Properties.Settings>
 </userSettings>
</configuration>
